# OS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.local
backend/cold-analyser/

# VS Code
.vscode/

# Build
*.log
