apiVersion: 1

datasources:
  - name: ColdStart PostgreSQL
    type: postgres
    url: ${POSTGRES_HOST}:5432
    database: coldstart
    user: ${POSTGRES_USER}
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 5
      connMaxLifetime: 14400
